version: "3.9"
services:
  DATABASE_PROVIDER:
    image: "DATABASE_IMAGE_VERSION"
    container_name: DATABASE_CONTAINER_NAME
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      DATABASE_PROVIDER_DB: DATABASE_NAME
      DATABASE_PROVIDER_USER: DATABASE_USER
      DATABASE_PROVIDER_PASSWORD: DATABASE_PASSWORD

  rest-api:
    build:
      context: ./
      target: development
    command: npm run start:dev
    volumes:
      - /usr/src/app/node_modules/
    ports:
      - "9229:9229"
    depends_on:
    - DATABASE_PROVIDER
    environment:
      NODE_ENV: development
      DATABASE_URL: "DATABASE_PROVIDER://DATABASE_USER:DATABASE_PASSWORD@DATABASE_HOST:DATABASE_PORT/DATABASE_NAME?schema=DATABASE_SCHEMA"
      TOKEN_SECRET: *******************
      EXPIRES_IN: 3600
    links:
      - DATABASE_PROVIDER
